@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-size: 100% auto;
  background-position: center top;
  @apply bg-background bg-fixed bg-no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
